[submodule "pses_helloworld"]
	path = pses_helloworld
	url = https://github.com/tud-pses/pses_helloworld.git
[submodule "pses_ucbridge"]
	path = pses_ucbridge
	url = https://github.com/tud-pses/pses_ucbridge.git
[submodule "pses_dashboard"]
	path = pses_dashboard
	url = https://github.com/tud-pses/pses_dashboard.git
[submodule "pses_simulation"]
	path = pses_simulation
	url = https://github.com/tud-pses/pses_simulation.git
[submodule "pses_odometry"]
	path = pses_odometry
	url = https://github.com/tud-pses/pses_odometry.git
