<?xml version="1.0" encoding="utf-8"?>
<launch>
	<arg name="dashboard" default="true"/>
    <arg name="kinect" default="true" />

        <!-- Run the necessary nodes to bring up the car -->
        <node pkg="pses_basis" type="car_handler" name="car_handler" output="screen">
		<param name="kinect_on" value="true" />
	</node>
	<node pkg="pses_basis" type="car_odometry" name="car_odometry" output="screen"/>
	<!-- Run the Dashboard Application -->
	<group if="$(arg dashboard)">
		<node pkg="pses_basis" type="car_dashboard" name="car_dashboard" output="screen">
                    <!-- allowed params: image_color, image_depth, off -->
                    <param name="video_feed" value="off" />
		</node>
	</group>
        <group if="$(arg kinect)">
        <!-- Bring up the Kinect -->
                <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch" />
        </group>
</launch>
