<?xml version="1.0" encoding="utf-8"?>
<launch>

	<node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
			<param name="maxUrange" value="9.7" />
			<param name="maxRange" value="10.3" />
			<param name="scan" value="scan" />
			<!--
      <param name="map_update_interval" value="0.5" />
			<param name="linearUpdate" value="0.1"/>
  		<param name="angularUpdate" value="0.1"/>
      <param name="particles" value="1" />
      <param name="sigma" value="0.05" />
			<param name="minimumScore" value="3500.0" />
      <param name="kernelSize" value="5" />
      <param name="lstep" value="0.05" />
      <param name="astep" value="0.05" />
      <param name="iterations" value="1" />
      <param name="lsigma" value="0.075" />
      <param name="ogain" value="3.0" />
      <param name="lskip" value="0" />
      <param name="srr" value="0.00" />
      <param name="srt" value="0.00" />
      <param name="str" value="0.00" />
      <param name="stt" value="0.00" />
      <param name="temporalUpdate" value="0.5" />
      <param name="resampleThreshold" value="0.5" />
      <param name="xmin" value="-100.0" />
      <param name="ymin" value="-100.0" />
      <param name="xmax" value="100.0" />
      <param name="ymax" value="100.0" />
      <param name="delta" value="0.05" />
      <param name="llsamplerange" value="0.01" />
      <param name="llsamplestep" value="0.01" />
      <param name="lasamplerange" value="0.005" />
      <param name="lasamplestep" value="0.005" />
			-->
  </node>
	<node pkg="rviz" type="rviz" name="rviz" args="-d $(find pses_simulation)/data/viewer/viewer.rviz"/>
  <node pkg="pses_basis" type="car_dashboard" name="car_dashboard" output="screen">
                  <!-- allowed params: image_color, image_depth, off -->
                  <param name="video_feed" value="off" />
  </node>

</launch>
